body{
    .ma_page{
        background: linear-gradient(#7f0000, #540000);
        // background-color: #6d0000;
        height: 100%;
        .goup{
            position: fixed;
            top:90vh;
            right: 5vw;
            @media (max-width: 575px) {
                right: 1vw;
            }
            @media (min-width: 576px) and (max-width: 767px) and (orientation:portrait) {
                right: 2vw;                    
            }
            @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                right: 1vw;                      
            }
            @media (min-width: 768px) and (max-width: 991px) { 
                right: 2vw; 
             }
            i{
                font-size: 4rem;
                color: #ffffffb5;
                @media (max-width: 575px) {
                    font-size: 2.3rem;
                }
                @media (min-width: 576px) and (max-width: 767px) and (orientation:portrait) {
                    font-size: 3rem;                    
                }
                @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                    font-size: 3rem;                    
                }
                @media (min-width: 768px) and (max-width: 991px) { 
                    font-size: 3.5rem;  
                 }
            }
        }
        header{

            .container-fluid {
                padding: 0;
                margin-right: auto;
                margin-left: auto;
            }
            .bg-light {
                background-color: #040404eb !important;
                box-shadow: 0px 7px 30px #0000008a;
            }
            .navbar-dark .navbar-nav .nav-link {
                color: #ffffffab;
                font-size: 20px;
                margin: 0px 20px; 
            
                &:hover{
                    color: #84848491;
                }
            }
            .fa, .far, .fas {
                font-family: "Font Awesome 5 Free";
                color: #ffffffa1;
            }
            .title{
                .icone{ 
                    position: relative;
                    top: -3vh;
                    margin: 15px;
                    color: #ffffffc7;
                    font-size: 3rem;
                    transform: rotate(15deg);
                    text-shadow: 58px -15px 78px #92ddff;
                    animation: cam 5s infinite;
                    @media (max-width: 575px) {
                        font-size: 2rem;
                    }
                }
                @keyframes cam {
                    0%{
                    transform: rotate(15deg);
                    
                    }
                    25%{
                    transform: rotate(30deg);
                    
                    }
                    50%{
                        transform: rotate(15deg);
                        
                    }
                    75%{
                    transform: rotate(30deg);
                    
                    }
                    100%{
                    transform: rotate(15deg);
                    
                    }
                }
                h1{
                    font-size: 5rem;
                    margin-top: 15vh;
                    color:#040404eb;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-shadow: 5px 29px 22px #00000030;
                    @media (max-width: 575px) {
                        font-size: 2rem;
                    }
                    @media (min-width: 576px) and (max-width: 767px) and (orientation:portrait) {
                        font-size: 4rem;       
                        margin-top: 20vh;                      
                    }
                    @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                        font-size: 3rem;       
                        margin-top: 20vh;                      
                    }
                    @media (min-width: 768px) and (max-width: 991px) { 
                        font-size: 5rem;
                        margin-top: 12vh;  
                     }
                    .access{
                        color: #ffffffb5;
                    }
                }
                h2{
                    color:#d4d4d4eb;
                    margin: 5vh;
                    text-shadow: 5px 9px 12px #00000030;
                    font-size: 2rem;
                    @media (max-width: 575px) {
                       margin: 0vh;
                       font-size: 25px
                    }
                    @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                       margin: 0vh;  
                        font-size: 35px                    
                    }
                    @media (min-width: 768px) and (max-width: 991px) { 
                       margin: 0vh;  
                        font-size: 45px
                     }
                     @media (min-width: 992px) and (max-width: 1199px) { 
                        font-size: 4rem;
                      }
                }
                a{
                    text-decoration: none;                    
                }
                    .fa-arrow-circle-left{
                        color: rgba(77, 205, 255, 0.72);
                        font-size: 1.1rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .return_style{
                        color: rgba(77, 205, 255, 0.72);
                        font-size: 1.1rem;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.02); 
                            transition: .4s;
                        }
                    }
                    .showdata{
                        color:#d4d4d4eb;
                        font-size: 1.5rem;
                        margin: 5vh;
                        text-shadow: 5px 9px 12px #00000030;
                    }
                }
            hr { 
                display: block;
                margin-top: 0.5em;
                margin-bottom: 3em;
                margin-left: auto;
                margin-right: auto;
                border-style: inset;
                border-width: 1px; 
                width: 20vw;
                color:#ffffff9c;
                @media (max-width: 575px) {
                    width: 40vw;
                    margin-bottom: 1em;
                }      
                @media (min-width: 576px) and (max-width: 767px) and (orientation:portrait) {
                    width: 40vw;
                    margin-bottom: 1em;                    
                }
                @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                    width: 40vw;
                    margin-bottom: 0em;                    
                }
                @media (min-width: 768px) and (max-width: 991px) { 
                    width: 40vw;
                    margin-bottom: 1em;  
                 }       
            }
        }
        // .contenue_genre{
        //     position: relative;
        //     .title_genre{
        //         font-size: 1.5rem !important;
        //         margin: 10px;
        //         color:#ffffffb5;
        //     }
        // }
        .affichage_genre{
            @media (max-width: 575px) {
                margin: 0;
                display: none !important;
            }
            @media (min-width: 576px) and (max-width: 767px) {
                margin: 0;
                display: none !important;                 
             }
             @media (min-width: 768px) and (max-width: 991px) { 
                margin: 0;
                display: none !important; 
             }
            a{
                font-size: 2rem !important;
                margin: 0px 20px;
                color:#ffffffb5;
                text-decoration: none; 
                margin-bottom: 2em;
                transition: .4s;
                @media (max-width: 575px) {
                    font-size: 2rem !important;
                    margin: 2px 20px;
                }
                &:hover{
                    color: black;
                    transform: scale(1.2); 
                    transition: .4s;
                }
            }
        }
        .affichage_genre_mobile{
            display: none !important;
            margin: 1em 0em;
            @media (max-width: 575px) {
                margin: 1em 0em;
                display: block !important;
            }
            @media (min-width: 576px) and (max-width: 767px) {
                margin: 1.5em 0em;
                display: block !important;                 
             }
             @media (min-width: 768px) and (max-width: 991px) { 
                margin: 1.5em 0em;
                display: block !important; 
             }
            .btn-secondary {
                color: #ffffffab;
                background-color: #370003d4;
                border-color: #69696963;
                padding: 10px;
                width: 100%;
                font-weight: 900;
                @media (max-width: 575px) {
                    font-size: 15px; 
                }
                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 25px;        
                 }
                 @media (min-width: 768px) and (max-width: 991px) { 
                    font-size: 28px;
                 }
            }
            .dropdown-menu{
                width: 100% !important ;
                background-color: #000000c9;
                transform: translate3d(0px, 44px, 0px) !important;
                border: solid 2px #171717;
                @media (min-width: 576px) and (max-width: 767px) {
                    transform: translate3d(0px, 57px, 0px) !important;
                 }
                 @media (min-width: 768px) and (max-width: 991px) { 
                    transform: translate3d(0px, 63px, 0px) !important;
                 }
                a{
                    font-size: 1.5rem !important;
                    margin: 8px 0px;
                    color: #cecece;
                    text-decoration: none; 
                    transition: .4s;
                    display: flex;
                    justify-content: center;
                    @media (min-width: 576px) and (max-width: 767px) {
                        font-size: 1.8rem !important;
                        margin: 10px;     
                     }
                     @media (min-width: 768px) and (max-width: 991px) { 
                        font-size: 1.8rem !important;
                        margin: 10px;
                     }
                    &:hover{
                        color: black;
                        transform: scale(1.2); 
                        transition: .4s;
                    }
                }
            }
        }
        .affichage{
            max-width: 80vw;
            color:#d4d4d4eb;
            margin-bottom: 10vh;
            display: -webkit-flex;
            flex-wrap: wrap;
            @media (max-width: 575px) {
              max-width: 95vw;
              margin-top: 5vh;
            }
            @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                max-width: 85vw;                   
            }
            @media (min-width: 768px) and (max-width: 991px) { 
                max-width: 80vw;  
             }
             @media (min-width: 992px) and (max-width: 1199px) { 
                max-width: 80vw; 
              }
            
            .bande_annonce {
                // opacity: 0.0;
                margin-top: -32px;
                margin-bottom: 30px;
                display: none;
                transition: opacity 1s;
                
                    iframe{
                    width: 100%;
                    height: 530px;
                    @media (max-width: 575px) {
                      height: 400px;
                    }
                } 
            }           
            .image{
                display: block;
                img{
                    height: 400px; 
                    width: auto;
                    padding: 10px;
                    background-color: #350000fa;
                    @media (max-width: 575px) {
                        height: 291px;
                    }
                }
            }
            .contenu {
                // height: 400px;
                padding: 21px 45px; 
                margin-bottom: 2em;
                box-shadow: 10px 2px 62px #ff202047;
                background-color: #350000fa;
                height: 500px;
                @media (max-width: 575px) {
                    height: auto;
                }
                a{
                    text-decoration: none;
                    color: #4dcdffb8;
                    font-weight: bold;
                }
                .showBandeAnnonce{
                    display: block;
                    cursor: pointer;
                    color: #85ddffb8;
                    font-weight: bold;
                    transition: .4s;
                      &:hover{
                        transform: scale(1.02); 
                        transition: .4s;
                    }
                }
                .hideBandeAnnonce{
                    display: none;
                    cursor: pointer;
                    color: #85ddffb8;
                    font-weight: bold;
                    transition: .4s;
                      &:hover{
                        transform: scale(1.02); 
                        transition: .4s;
                    }
                }
                h1{
                    font-size: 2rem;
                }
            }
            
            .contenu_realisateur{
                padding: 15px;
                margin-bottom: 2em;
                box-shadow: 10px 2px 62px #ff202047;
                background-color: #350000fa;
                width: 22vw;
                flex: auto;
                margin: 10px;
                &:hover{
                    transform: scale(1.03); 
                    transition: .4s;
                }
                @media (max-width: 575px) {
                    width: 90vw;
                }
                a{
                    text-decoration: none;
                    color: #ffffffb5;
                }
                h1{
                    font-size: 2rem;
                    margin: 15px;
                    &:hover{
                        transform: scale(1.2); 
                        transition: .4s;
                    }
                }


            }
            .contenu_acteur{
                padding: 0px;
                margin-bottom: 2em;
                box-shadow: 10px 2px 62px #ff202047;
                background-color: #350000fa;
                width: 30vw;
                flex: auto;
                margin: 10px;
                @media (max-width: 575px) {
                   width: 60vw;
                }
                @media (min-width: 576px) and (max-width: 1199px) {
                    width: 50vw;
                }
                &:hover{
                    transform: scale(1.03); 
                    transition: .4s;
                }
                a{
                    text-decoration: none;
                    color: #ffffffb5;
                }
                h1{
                    font-size: 2rem;
                    margin: 15px;
                    &:hover{
                        transform: scale(1.2); 
                        transition: .4s;
                    }
                }
            }   
            .contenu_annee{
                padding: 0px;
                margin-bottom: 2em;
                box-shadow: 10px 2px 62px #ff202047;
                background-color: #350000fa;
                width: 30vw;
                &:hover{
                    transform: scale(1.03); 
                    transition: .4s;
                }
                a{
                    text-decoration: none;
                    color: #ffffffb5;
                }
                h1{
                    font-size: 2rem;
                    margin: 15px;
                    &:hover{
                        transform: scale(1.2); 
                        transition: .4s;
                    }
                }
            }   
        }
    }
} 