
 {% extends 'index.html.twig' %} 
 
 {% block content %}

    {% for acteur in acteurs %}
    <section class="contenue_realisateur">
        <div>
            <a href="films/acteur/{{acteur.id}}"><h1 class="text-center">{{acteur.acteur}}</h1></a>
            
        </div>
    </section>

    {% endfor %}
 
 {% endblock %}
