{% extends 'index.html.twig' %}

{% block content %}

{% for annee in annees %}
<section class="contenue_realisateur">
    <div>
        <a href="#"><h1>{{annee.annee}}</h1></a>
    </div>
</section>

{% endfor %}

{% endblock %}