
 {% extends 'index.html.twig' %} 

 {% block content %}

    {% for genre in genre %}
      <section class="contenue">
        <div>
            <h1>{{genre.type}}</h1>
        </div>
            </section>

    {% endfor %}

{% endblock %}

