
 {% extends 'index.html.twig' %} 
 
 {% block content %}

    {% for realisateur in realisateurs %}
    <section class="contenue_realisateur">
        <div>
            <a href="films/realisateur/{{realisateur.id}}"><h1 class="text-center">{{realisateur.realisateur}}</h1></a>
            
        </div>
    </section>

    {% endfor %}
 
 {% endblock %}
