
 {% extends 'index.html.twig' %} 
 
 {% block content %}

    {% for realisateur in realisateurs %}
        <div>
            <h1>{{realisateur.nom}}</h1>
        </div>

    {% endfor %}
 
 {% endblock %}
