{% extends 'index.html.twig' %} 



{% block content %}

    {% for film in romance %}
    <div class="d-flex flex-row"> 
        <div class="image">
            <img src="{{film.image_film}}" alt="img"> 
            </div>
        <section class="contenue">
            <div>
                <h1>{{film.titre}}</h1>
            </div>
            <div>
                <p>{{film.description}}</p>
            </div>
            <div>
                <p>{{film.annee}}</p>
            </div>
        </section>
    </div>

    {% endfor %}

{%  endblock %}
  